<h2 class="x-h2">CONTACT</h2>

This page is from pages/contact.html.

<p>
  If you find any issue regarding built-in custom elements, 
  please report them to <a href="https://github.com/elements-x/issues">GitHub repository</a>.
</p>

<p>
  <x-openlayers satellite style="height: 400px">
    <x-ol-marker position="Toronto, Canada" center="center">
      <b>{{name}}</b>
      <div>We are here.</div>
    </x-ol-marker>
  </x-openlayers>
  <x-pre>&lt;x-openlayers center="Toronto, Canada">&lt;/x-openlayers></x-pre>
</p>